body {
  font-family: Sans-Serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333333;
    color: white;
  }
}

#file-input {
  width: 100%;
}

#array-root {
  margin-top: 15px;
}

.value {
  text-align: center;
  flex-grow: 1;
}

.array {
  display: flex;
  overflow-x: auto;
}
.array-row {
  flex-direction: row;
  justify-content: space-between;
  max-height: max-content;
}
.array-col {
  flex-direction: column;
  max-width: max-content;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.value {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
