body {
  font-family: Sans-Serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333333;
    color: white;
  }
}

.options-container {
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .options-container {
    flex-direction: column;
  }
}

h1 {
  display: flex;
  flex-wrap: wrap;
}

.import-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
}

.import-container input {
  grid-column-start: 2;
}
.import-container label {
  grid-column-start: 1;
}

#array-root {
  margin-top: 15px;
}

.value {
  text-align: center;
  flex-grow: 1;

  background-color: #808080;
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
}

.array {
  display: flex;
  overflow-x: auto;
}
.array-row {
  flex-direction: row;
  justify-content: space-between;
  max-height: max-content;
}
.array-col {
  flex-direction: column;
  max-width: max-content;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.value {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
